{% extends 'home.html' %}
{% block content %}
<h1>Portfolio </h1>
<h3>Add Funds</h3>
    <p>Adding funds via credit/debit card</p>
<h3>Withdraw Funds</h3>
    <p>Withdraw through either credit/debit card (maybe bank account)</p>
<h3>Active Stocks</h3>
    <p>Table showing active stocks (needs to be pulled from database)</p>
<h3>Transaction history</h3>
    <p>Transaction history connected to account including how much bought and sold for and date (needs to be pulled from database)</p>
{% endblock %}
