{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}

<style>
  /* CSS for the background of the webpage */
  body {
      background-color: black;
  }
  h1 {
      color: white;
      font-weight: bold;
  }
  /* CSS for the adjusting the entire form */
  .form-container {
      display: flex;
      justify-content: center;
  }

  /* CSS for the titles above the form input fields */
  .form-title {
      color: white;
      font-weight: bold;
  }

  /* CSS for the title of the update stock page */
  h1 {
      text-align: center;
  }

  /* CSS for the submit button */
  .submit {
      font-weight: bold;
  }

  /* CSS for the submit button when it is hovered */
  .submit:hover{ 
      background-color: #00c805;
  }

  /* CSS for the back to admin stock market hyperlink button */
  .admin{
      text-decoration: none;
      border: solid;
      border-radius: 25px;
      padding: 5px;
      background-color:#00c805; 
      color: black;
      font-weight: bold;
  }

  /* CSS for when the back to admin stock market hyperlinked is hovered */
  .admin:hover {
      background-color:black; 
      border-color: white;
      color: white;
  }

  /* CSS for the p element that contains the admin back button */
  .admin-back{
      padding-top: 30px;
      text-align: center;
  }

</style>

<body>
    <h1>Add Market Hours</h1>
    <div class="form-container">
      <form method="POST" action=""> 
        {{ form.hidden_tag() }} 
        <!-- Input field for adding opening day -->
        <p class="form-title">{{ form.open_day.label }}<br>{{ form.open_day() }}</p>

        <!-- Input field for adding the closing day -->
        <p class="form-title">{{ form.close_day.label }}<br>{{ form.close_day() }}</p>

        <!-- Input field for the opening hour -->
        <p class="form-title">{{ form.open_hour.label }}<br>{{ form.open_hour() }}</p>

        <!-- Input field for the closing hour -->
        <p class="form-title">{{ form.close_hour.label }}<br>{{ form.close_hour() }}</p>

        <!-- Submit button -->
        <p class="form-title">{{ form.submit() }}</p>
      </form>
    </div>
    <!-- Link to go back to the admin market page -->
    <p class="admin-back"><a class="admin" href="{{ url_for('admin_market') }}">Back to admin market</a></p>
  </body>

{% endblock %}