{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
  %}
  
  <style>
    /* CSS to change body of the admin market page*/
    body {
      background-color: black;
    }
    /* CSS for the admin stock market title, alinging in the center and bolding */
    h1 {
      text-align: center;
      font-weight: bold;
      color: white;
    }

    table {
      color: white;
      width: 100%;
      height: 100%;
    }
    
    /* CSS for the titles in the stock markert table */
    tr th {
      padding: 10px;
    }


    /* CSS for adding lines in the table */
    th, td {
      border: solid white;
    }

    /* CSS for the rows in the stock market table*/
    .stock-rows{
      padding: 10px;
      font-weight: bold;
    }

    .table-container {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    /* CSS for the edit and delete buttons */
    td a {
      text-decoration: none;
      background-color: #00c805;
      display: block;
      color: black;
      font-weight: bold;
      width: 100%;
      height: 100%;
      padding: 10px 0px;
      box-sizing: border-box;
    }

    /* CSS for when the buy button is hovered */
    .buy:hover{
      color: white;
      background-color: black;
    }

  
    /* CSS for the flash message that gets displayed after a stock is changed */
    .message {
      color: white;
      font-weight: bold;
      text-align: center;
      list-style-type: none;
    }

    .change-buttons {
      display: flex;
      justify-content: center;
    }

    .market-hours {
      text-align: center;
      color:#00c805;
      font-size: 60px;
      font-family: Clock;
    }


  </style>
  
  <body>
    <h1>Stock Market</h1>
    {% if last_hour %}
    <p class="market-hours">Market Hours: {{ last_hour.open_day }}-{{ last_hour.close_day }} {{ last_hour.open_hour }}am-{{ last_hour.close_hour }}pm</p>
    {% else %}
    <p>No market hours available</p>
    {% endif %}
    <!-- Flashes the messages stated in the app.py file -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul> {% for message in messages %}
      <li class="message">{{ message }}</li>
      {% endfor %}
    </ul> {% endif %} {% endwith %}
    <!-- Container for the stock table -->
    <div class="table-container">
      <!-- Table for the stocks, pulls value from the database to populate the table -->
      <table border="1">
        <thead>
          <!-- Table row for the title of the table values -->
          <tr>
            <th>Company</th>
            <th>Ticker</th>
            <th>Current Price</th>
            <th>Volume</th>
            <th>Purchase Stock</th>
          </tr>
        </thead>
        <!-- This is where the table gets the values from the database -->
        <tbody> {% for stock in stocks %} 
          <tr class="stock-rows">

            <!-- Cell gets the company_name value from the database  -->
            <td class="stock-rows">{{ stock.company_name }}</td>

            <!-- Cell gets the ticker_symbol value from the database  -->
            <td class="stock-rows">{{ stock.ticker_symbol }}</td>

            <!-- Cell gets the current_price value from the database  -->
            <td class="stock-rows">{{ stock.current_price }}</td>

            <!-- Cell gets the volume value from the database  -->
            <td class="stock-rows">{{ stock.volume }}</td>

            <!-- Links for deleting and edting the stocks in the stock table -->
            <td> 
              <a class="buy" href="{{ url_for('buy_stock', id=stock.stock_id) }}">Buy</a>
            </td>
          </tr> {% else %} 
          <tr>
            <!-- If no stocks are found display this message -->
            <td colspan="7">No stocks found</td>
          </tr> {% endfor %} </tbody>
      </table>
    </div>
  </body>
  
  {% endblock %}