{% extends 'base.html' %} {% block title %}Portfolio{% endblock %} {% block content%}

<style>

    body {
        background: black;
    }
    
      /* CSS for the admin stock market title, alinging in the center and bolding */
    h1 {
        text-align: center;
        font-weight: bold;
        color: white;
    }

    div {
        color: white;
    }

    th {
        color: white;
    }

</style>

<script>
    // Displays a confirmation message when the submit button is clicked
    function confirmSubmit() {
        return confirm("Are you sure you want to add funds?");
    }
</script>

<div class="container mt-5">
    <h1>{{ current_user.username }}'s Portfolio</h1>

    <h3>Account Balance</h3>
    <!-- Displays the logged in users balance on the webpage -->
    <p>Your current balance: <span id="account-balance">${{ balance }}</span></p>

    <!--Add funds button/section -->
    <h3>Add Funds</h3>
    <form method="POST" action="">
        {{ add_form.hidden_tag() }}

        <div class="form-group">
            <label for="addFunds" class="form-label">Enter amount:</label>
            {{ add_form.add_balance(class="form-control", id="addFunds") }}
        </div>
        {{ add_form.add_submit(class="btn btn-success mt-2", onclick="return confirmSubmit();") }}
    </form>

    <!--Withdraw funds button/section-->
    <h3>Withdraw Funds</h3>
    <form method="POST" action="">
        {{ withdraw_form.hidden_tag() }}

        <div class="form-group">
            <label for="withdrawFunds" class="form-label">Enter amount:</label>
            {{ withdraw_form.withdraw_balance(class="form-control", id="withdrawFunds") }}
        </div>
        {{ withdraw_form.withdraw_submit(class="btn btn-danger mt-2", onclick="return confirmSubmit();") }}
    </form>

    <!--Active Stocks (not connected to a database)-->
    <h3>Active Stocks</h3>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <!-- database -->
            {% endfor %}
        </tbody>
    </table>

    <!--Transaction history(not connected to a database)-->
    <h3>Transaction History</h3>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Date</th>
                <th>Stock</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <!-- database -->
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}